
<div class="row my-4">
    <div class="col-md-6">
        <h1>List clients</h1>
    </div>
    <div class="col-md-6 text-right">
        <a href="" class="btn btn-primary btn-sm">
            <i class="fa fa-user"></i>
        </a>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Fullname</th>
                    <th>Infos</th>
                    <th>Balance</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let client of clients">
                    <td>{{ client.firstName }} {{ client.lastName }}</td>
                    <td>
                        <span class="badge badge-success">Email</span> {{ client.email }} <br>
                        <span class="badge badge-info">Phone</span> {{ client.phone }}
                    </td>
                    <td>{{ client.balance }}</td>
                    <td class="text-right" nowrap>
                        <a href="" class="btn btn-warning btn-sm mr-1">
                            <i class="fa fa-pencil"></i>
                        </a>
                        <button class="btn btn-dark btn-sm">
                            <i class="fa fa-times"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>