
<div class="row my-4">
    <div class="col-md-4">
        <h1>List clients</h1>
    </div>

    <div class="col-md-4 text-center">
        <h4>
           <span class="badge badge-success">{{ total | currency }}</span> 
        </h4>  
    </div>
    <div class="col-md-4 text-right">
        <a routerLink="/clients/create" class="btn btn-primary btn-sm">
            <i class="fa fa-user"></i>
        </a>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Fullname</th>
                    <th>Infos</th>
                    <th>Balance</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let client of clients">
                    <td> <span class="mx-2">
                        <i 
                          (click)="activeClient(client)"
                          [ngStyle]="{ color: client.active ? 'light-green' : 'red'  }" 
                          class="fa fa-power-off">
                        </i>
                    </span>  {{ client.firstName | titlecase | resume:4 }} {{ client.lastName | uppercase }}</td>
                    <td>
                        <span class="badge badge-success">Email</span> {{ client.email }} <br>
                        <span class="badge badge-info">Phone</span> {{ client.phone }}
                    </td>
                    <td>{{ client.balance | currency:'JPY':'symbol':'1.3-4' }}</td>
                    <td class="text-right" nowrap>
                        <a [routerLink]="['/clients/edit', client.id]" class="btn btn-warning btn-sm mr-1">
                            <i class="fa fa-pencil"></i>
                        </a>
                        <button (click)="deleteClient(client.id)" class="btn btn-dark btn-sm">
                            <i class="fa fa-times"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>